<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La Coneja</title>
	<link rel="stylesheet" href="/css/main.css">

</head>
<body>

	<div id="app"></div>
	<script src="/js/colorthief.min.js"></script>
	<script src="/build/common.js"></script>
	<script src="/build/main.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>