<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La Coneja</title>
	<link rel="stylesheet" href="/fonts/BariolRegular/bariol_regular.css" />
	<link rel="stylesheet" href="/fonts/BariolItalic/bariol_regular_italic.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css" />

</head>
<body>

	<div id="app"></div>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="/js/colorthief.min.js"></script>
	<script src="/build/common.js"></script>
	<script src="/build/main.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>