#signup,
#login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#signup h1,
#login h1 {
  color: #ecf0f1;
  font-size: 1.8rem;
  text-transform: uppercase;
}
#signup form .input,
#login form .input {
  margin: 1rem;
}
#signup form .input input,
#login form .input input {
  background-color: rgba(255, 238, 220, 0.1);
  border: none;
  border-bottom: 1px solid #ffeedc;
  color: #ffeedc;
  padding: 10px;
  font-family: 'BariolRegular', sans-serif;
  font-size: 1rem;
}
#signup form .input input:focus,
#login form .input input:focus {
  outline: none;
}
#signup form .input input[type='submit'],
#login form .input input[type='submit'] {
  border: 1px solid #ffeedc;
  padding: 10px;
}
